.square {
  background-color: darkgray;
  border: 0.1px solid black;
  transition: all 0.5s;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square:hover {
  background-color: gray;
}

.square-start {
  background-color: green;
}

.square-end {
  background-image: url(checkered.png);
  background-size: cover;
}

.square-wall {
  background-color: black;
}

.square-dirt {
  background-color: tan;
}

.square-water {
  background-color: aquamarine;
}

.square-open {
  background-color: greenyellow;
}

.square-closed {
  background-color: red;
}

.square-on-path {
  background-color: blue;
}

.divicon {
  border: 0.1px solid black;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  min-width: 1em;
}

#app-wrapper {
  display: block;
  width: 70vmin;
  margin-left: auto;
  margin-right: auto;
}

#grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( 31, 1fr );
  grid-template-rows: repeat( auto, 1fr );
}

#controls-wrapper {
  text-align: center;
}

#algo-buttons {
  grid-template-columns: repeat( 3, 33.3% );
}

#draw-buttons {
  grid-template-columns: repeat( 6, 16.6% );
}

#run-button, #reset-button {
  display: inline-block;
  width: 20%;
  box-shadow: 0 0 3px 0.5px gray;
  border-radius: 7px;
}

.button-row {
  margin-top: 2%;
  margin-bottom: 2%;
}

.button-group {
  width: 70%;
  display: inline-grid;
  box-shadow: 0 0 3px 0.5px gray;
  border-radius: 7px;
}

.button {
  transition: all 0.3s;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.button-unselected {
  color: black;
  background-color: white;
}

.button-unselected:hover {
  color: white;
  background-color: gray;
}

.button-selected {
  color: white;
  background-color: gray;
}

.button-disabled {
  opacity: 0.3;
}

.button-group .button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-group .button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
