.square {
  background-color: darkgray;
  border: 0.1px solid black;
  transition: all 0.5s;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square:hover {
  background-color: gray;
}

.square-start {
  background-color: green;
}

.square-end {
  background-image: url(checkered.png);
  background-size: cover;
}

.square-wall {
  background-color: black;
}

.square-dirt {
  background-color: tan;
}

.square-water {
  background-color: aquamarine;
}

.square-open {
  background-color: greenyellow;
}

.square-closed {
  background-color: red;
}

.square-on-path {
  background-color: blue;
}

.divicon {
  border: 0.1px solid black;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  min-width: 1em;
}

#app-wrapper {
  display: block;
  width: 70vmin;
  margin-left: auto;
  margin-right: auto;
}

#grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( 31, 1fr );
  grid-template-rows: repeat( auto, 1fr );
}

#controls-wrapper {
  text-align: center;
}

#run-buttons {
  display: grid;
  grid-template-columns: repeat( 4, 25% );
}

#setup-buttons {
  display: grid;
  grid-template-columns: repeat( 7, auto );
}

.button {
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.3s;
}

.button-unselected {
  color: black;
  background-color: white;
}

.button-unselected:hover {
  color: white;
  background-color: gray;
}

.button-selected {
  color: white;
  background-color: gray;
}

.button-disabled {
  border-color: slategray;
  color: slategray;
}